<div class="cookie-banner-container cc-window d-none">
    <span class="pl-3 pr-3">This website uses cookies to ensure you get the best experience. <a href="https://cookiesandyou.com/">Learn more</a></span>
    <div class="cc-compliance cc-highlight">
        <a aria-label="deny cookies" role="button" tabindex="0" id="cc-deny" class="cc-btn cc-deny" (click)="consentDecline()">Decline</a>
        <a aria-label="allow cookies" role="button" tabindex="0" id="cc-allow" class="cc-btn cc-allow" (click)="consentAccept()">Allow cookies</a>
    </div>
</div>