.codeblock {
  padding: 1.5em;
  font-size: 0.9em;
  background: #4a4c69;
  color: #fff;
  cursor: text;
  overflow: auto;
  min-height: 300px;
}

pre:first-line {
  line-height: 0;
}

.previewBtn,
.linkBtn {
  width: 150px;
  height: 38px;
  margin-right: 20px;
}

.link-input {
  width: 300px;
}

.crawlInfo {
  margin-top: 20px;
}

.inputField {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 20px;
}
