.col-md-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.codeblock {
  padding: 1.5em !important;
  font-size: 0.9em;
  background: #25262b;
  color: #969aa3;
  cursor: text;
  overflow: auto;
  min-height: 300px;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-break: break-all !important; /* Internet Explorer 5.5+ */
}

.code-value-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem 0 0 0;
}

table,
th,
td {
  border-color: #969aa3;
  color: #969aa3;
}

.table td,
.table th {
  vertical-align: middle !important;
}

pre:first-line {
  line-height: 0;
}

.previewBtn,
.linkBtn {
  width: 150px;
  height: 38px;
  //margin-right: 20px;
  flex-grow: 1 !important;
}

.restartBtn {
  width: 50px;
  height: 38px;
  flex-grow: 1 !important;
  margin-left: 20px;
}

.link-input {
  width: 300px;
}

.crawlInfo {
  margin-top: 20px;
}

.inputField {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 20px;
  flex-grow: 1;
  justify-content: space-between;
}

.inputField:last-of-type {
  margin-right: 0px !important;
}

.deleteBtn {
  margin: 0 auto;
  margin-left: 0px !important;
}

.renewBtn {
  margin-right: 15px;
}

.navbar {
  height: 64px !important;
}

#userDisplayName {
  color: white;
}

.signOut {
  cursor: pointer;
}

.url-button-container {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  margin: 0px auto;
}

button + button {
  margin-left: 20px;
}

.loggedOutSteak {
  font-size: 30em;
  text-align: center;
}

.loggedOutSteak i {
  //color: lightslategray;
  vertical-align: top;
}

.linkField {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 20px;
}

.hiddenRow {
  padding: 0 !important;
}

td {
  border-color: #454d55 !important;
  border-top: 1px solid #454d55 !important;
  border-bottom: 1px solid #454d55 !important;
}

th {
  border-color: #454d55 !important;
  border-top: 2px solid #454d55 !important;
  border-bottom: 1px solid #454d55 !important;
}

.link-data-row {
  cursor: pointer;
}

.link-data-url img {
  margin-right: 10px;
}

.link-data-url,
.link-data-selector {
  font-size: 0.8em;
  overflow: hidden;
}

.tbl-linkInput {
  input {
    margin-right: 10px;
  }

  a {
    display: flex;
  }

  a i {
    font-size: 20px;
    display: flex;
    cursor: pointer;
  }

  a i:before {
    margin: auto 0;
  }
}

#codeSample {
  word-break: break-all !important;
}

.card {
  border-radius: 0 !important;
  background-color: #343a40;
}

.collapseOne,
.collapseTwo {
  background-color: #505355;
  color: rgb(150, 154, 163);
}

.card-body,
.headingOne,
.headingTwo {
  color: rgb(150, 154, 163);
}

i {
  color: rgb(150, 154, 163);
  vertical-align: middle !important;
}
